/home/user5063/study/build-calcDialog-Desktop-Debug
/home/user5063/study/build-calcDialog-Desktop-Release
/home/user5063/study/build-calculatorDemo-Desktop-Debug
build-database-Desktop-Debug
build-database-Desktop-Release
build-laba1-Desktop-Debug
build-lect1-Desktop-Debug
build-untitled-Desktop-Debug
