/build-calcDialog-Desktop-Debug
/build-calcDialog-Desktop-Release
/build-calculatorDemo-Desktop-Debug
/build-database-Desktop-Debug
/build-database-Desktop-Release
/build-laba1-Desktop-Debug
/build-lect1-Desktop-Debug
/build-untitled-Desktop-Debug
